# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/
server/config.json
server/functions/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/firebase-debug.log

# Misc
.DS_Store